= form_for(@html2haml, url: html2haml_path) do |f|
  .row
    .col
      .form-group
        = f.submit class: 'd-none', id: 'submitHtmlConverter'
  .row
    .col-sm-12.col-md-12.col-lg-6.col-xl-6.pr-lg-0.pr-xl-0
      .form-group
        .text-center
          %h2 HTML
        = f.text_area :source_html, class: 'form-control form-bg-dark',
         rows: 20, id: 'htmlField', placeholder: 'HTML here'
    .col-sm-12.col-md-12.col-lg-6.col-xl-6.pl-lg-0.pl-xl-0
      .form-group
        .text-center
          %h2 HAML
        = f.text_area :response_haml, class: 'form-control form-bg-dark',
         rows: 20, id: 'hamlField', placeholder: 'There will be HAML'
  .row
    .col-12
      %btn.btn.btn-outline-danger.full-width.mb-3#htmlToHamlBug BUG



