- content_for :primary_background do
  #particles-js
    %script{ type: 'text/javascript' }
      particlesJS.load('particles-js', '/particlesjs-config-html2haml.json');
.html2haml
  .container-fluid
    .title

    .html-to-haml-form
      = render 'htmltohamls/form'