- content_for :primary_background do
  #particles-js
    %script{ type: 'text/javascript' }
      particlesJS.load('particles-js', '/particlesjs-config-different.json');
    %img.cat{ src: asset_path('cat') }
.about
  .top-block.mt-5

  .center-block.mt-5
    .text-center
      %h3
        What am I doing?
      %br
      %h5
        I creating, I breaking, I exploring, I searching for the best ideas for you, and I create again.
      %br
      %h6
        I am a developer, thinker, engineer, explorer, experimentator, and also a friendly team of one man.