.container
  .contact
    .text-center
      .title.mt-5
        %h2
          Contact form
      .form.mt-5
        = form_for(@contact, url: contact_path) do |f|
          = f.text_field :email_from, require: true, id: 'contactEmailFrom',
            class: 'form-control  text-center form-bg-dark black-border-bottom',
            placeholder: 'Email'
          .email-errors
          .invalid-feedback#errorMessageEmail
            ''
          = f.text_area :body, require: true, id: 'contactBody',
            class: 'form-control text-center form-bg-dark black-border-bottom', placeholder: :body, rows: 5
          .body-errors
          .invalid-feedback#errorMessageBody
            ''
          %input{ class: 'form-control  text-center form-bg-dark black-border-bottom',
            id: 'contactCaptcha', placeholder: "Enter the answer: #{rand(10)} + #{rand(10)} = ?" }
          = f.submit 'Send', class: 'btn btn-form-style full-width', disabled: true, id: 'contactSendButton'