- content_for :primary_background do
  #particles-js
    %script{ type: 'text/javascript' }
      particlesJS.load('particles-js', '/particlesjs-config-different.json');
    %img.cat{ src: asset_path('cat') }
.ideology
  .top-block.mt-5

  .center-block.mt-5
    .text-center
      %h3
        Everyone is able to make a small contribution to the development or improvement of the life of mankind.
      %br
      %h2
        So, let's do it!