- content_for :primary_background do
  #particles-js
    %script{ type: 'text/javascript' }
      particlesJS.load('particles-js', '/particlesjs-config-index.json');
.welcome
  .container
    .top-block.mt-5
      .text-center
        %span.fa.fa-diamond.fa-style
    .center-block.mt-5
      .text-center
        .title
          %h1 Hello world
        .teaser
          %h5
            %b I'm an indie developer, and I want to make our world better than it is.
        .description
          %p Here you can find information about me and my projects.
    .bottom-block
      %br
      .nav
        .row
          .btn-group.btn-vertical
            = link_to 'Ideology', ideology_path, class: 'btn btn-outline-dark'
            = link_to 'About', about_path, class: 'btn btn-outline-dark'
            = link_to 'Projects', projects_path, class: 'btn btn-outline-dark'
            = link_to 'Contact', contact_path, class: 'btn btn-outline-dark'
            = link_to 'Subscribe', new_subscribe_path, class: 'btn btn-outline-dark'