= form_for @language do |f|
  - if @language.errors.any?
    #error_explanation
      %h2= "#{pluralize(@language.errors.count, "error")} prohibited this language from being saved:"
      %ul
        - @language.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
