%h1 Listing languages

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @languages.each do |language|
      %tr
        %td= language.name
        %td= link_to 'Show', language
        %td= link_to 'Edit', edit_language_path(language)
        %td= link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Language', new_language_path
