= form_for @library do |f|
  - if @library.errors.any?
    #error_explanation
      %h2= "#{pluralize(@library.errors.count, "error")} prohibited this library from being saved:"
      %ul
        - @library.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
