%h1 Listing libraries

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @libraries.each do |library|
      %tr
        %td= library.name
        %td= link_to 'Show', library
        %td= link_to 'Edit', edit_library_path(library)
        %td= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Library', new_library_path
