.container
  .login-page.half-width-mobile.m-auto
    .title
      .text-center
        %h2
          Authorization
    .forms
      = form_for(:user, url: login_path, html: { id: '#authorizationForm' }, remote: :true) do |f|
        .form-group
          = f.email_field :email, placeholder: :email, class: 'form-control', autofocus: true, autocomplete: :email
        .form-group
          = f.password_field :password, placeholder: :password, class: 'form-control', autocomplete: :off
        .form-group
          = f.check_box :remember_me
          = f.label :remember_me
        .actions
          = f.submit class: 'd-none', id: '#sendAuthorizationForm'
          .row
            .col-sm-12.col-md-12.col-lg-6.col-xl-6.pr-lg-0.pr-xl-0
              %btn.btn.btn-outline-warning.full-width#registerButton
                Register
            .col-sm-12.col-md-12.col-lg-6.col-xl-6.pl-lg-0.pl-xl-0
              %btn.btn.btn-outline-success.full-width#loginButton
                Login