/* import base */
@import 'base/colors';

/* import 3rd party libs */
@import 'bootswatch/lux/variables';
@import 'bootstrap';
@import 'bootswatch/lux/bootswatch';

@import 'font-awesome';

/* import parts*/
@import "htmltohamls";
@import "static_pages";

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 98vh;
  height: 98vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 99%;
}

.content {
  flex-grow: 1;
}

.footer {
  height: 5vh;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.4);
}

.primary-background {
  position: absolute;
  width: 98vw;
  height: 94vh;
}

#particles-js {
  height: 100%;
}

.cat {
  max-width: 60%;
  position: absolute;
  bottom: 0;
}

.half-height-min {
  min-height: 50%;
}

.full-width {
  width: 100%;
}

.half-width-mobile {
  @media screen and (max-device-width: 719px) {
    width: 100%;
  }

  @media screen and (min-device-width: 720px) {
    width: 50%;
  }
}

.form-bg-dark {
  background-color: rgba(21, 21, 21, 0.6);
  color: white;
}

.form-bg-dark:focus {
  background-color: rgba(21, 21, 21, 0.8);
  color: white;
  border: none !important;
}

.light-border-bottom {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.black-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.btn-form-style {
  background-color: rgba(21, 21, 21, 0.6);
  color: white;
}

.btn-form-style:disabled, .btn-form-style:disabled:hover {
  background-color: rgba(21, 21, 21, 0.4);
  color: white;
}

.btn-form-style:hover {
  background-color: rgba(21, 21, 21, 0.8);
  color: white;
}

.bg-transparent {
  background-color: transparent;
}

.light-hover:hover {
  background-color: rgba(245, 245, 245, 0.4) !important;
}

.hide-border {
   border-color: transparent !important;
}