= form_for @subscribe do |f|
  - if @subscribe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subscribe.errors.count, "error")} prohibited this subscribe from being saved:"
      %ul
        - @subscribe.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
