%h1 Listing subscribes

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @subscribes.each do |subscribe|
      %tr
        %td= link_to 'Show', subscribe
        %td= link_to 'Edit', edit_subscribe_path(subscribe)
        %td= link_to 'Destroy', subscribe, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Subscribe', new_subscribe_path
