.header
  %nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.light-border-bottom.text-dark
    = link_to 'Tivgres', root_path, class: 'navbar-brand'

    %button.navbar-toggler.hide-border{ 'aria-controls': 'navbarColor03', 'aria-expanded': :false,
     'aria-label': 'Toggle navigation', 'data-target': '#navbarColor03',
      'data-toggle': :collapse, type: :button }
      %span.navbar-toggler-icon

    #navbarColor03.collapse.navbar-collapse
      .mr-auto
      .navbar-nav.my-2.my-lg-0
        .nav-item
          - if current_user
            = link_to 'Logout', logout_path, class: 'btn bg-transparent light-hover', method: :delete
          - else
            = link_to 'Login', login_path, class: 'btn bg-transparent light-hover'
