.modal.fade{ 'aria-labelledby': 'label', role: 'dialog', tabindex: '-1', id: id }
  .modal-dialog.modal-lg{ role: :document }
    .modal-content
      .modal-header
        %h4.modal-title= title
        %button.close{ 'aria-label': :Close, 'data-dismiss': :modal, type: :button }
          %span{'aria-hidden': true} ×
      = yield