%p#notice= notice

%p
  %b Provider:
  = @account.provider
%p
  %b Uid:
  = @account.uid
%p
  %b User:
  = @account.user_id

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
